<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Demo Repo</title>
</head>
<body class="wrapper-container">
    <header>
        Demo Repo Exersises 
        <nav>
         <li><a href="#home">Home</a></li>
         <li><a href="#login">Login</a></li>
         <li><a href="#signup">Signup</a></li>
        </nav>
    </header>
    <main class="main-container">
        <section>
            <aside>This is the first Aside...</aside>
        </section>

        <section>
            <article>This is the Article...</article>
        </section>

        <section>
            <aside>This is the 2nd Aside...</aside>
        </section>
    </main>
    <footer>
        <div>
            <li>careers</li>
            <li></li>
            <li></li>
        </div>
    </footer>
</body>
</html>